<header>
  <a href="/shelters/">Shelter Index</a>
  <a href="/pets/">Pet Index</a>
</header>

<h3>Add a new shelter:</h3>

<%= form_tag('/shelters', method: :post) do %>
<%= label_tag "Shelter Name:" %>
<%= text_field_tag :name %></br>
<%= label_tag "Street Address:" %>
<%= text_field_tag :address %></br>
<%= label_tag "City:" %>
<%= text_field_tag :city %></br>
<%= label_tag "State:" %>
<%= text_field_tag :state %></br>
<%= label_tag "Zip Code:" %>
<%= text_field_tag :zip %></br>
<%= submit_tag "Create Shelter" %>

<% end %>
