<h3>Update Pet Details</h3>

<%= form_tag("/pets/#{@pet.id}", method: :post) do %>
<%= label_tag "Pet Image:" %>
<%= text_field_tag :image %></br>
<%= label_tag "Pet Name:" %>
<%= text_field_tag :name %></br>
<%= label_tag "Pet Description:" %>
<%= text_field_tag :description %></br>
<%= label_tag "Approximate Age:" %>
<%= number_field_tag :approximate_age %></br>
<%= label_tag "Pet Sex:" %>
<%= text_field_tag :sex %></br>

<%= submit_tag "Submit" %>

<% end %>
