<h1>All Available Pets</h1>

<% @pets.each do |pet| %>
  <img src="<%=pet.image%>"></img>
  <p>Pet Name: <%= pet.name %></p>
  <p>Approximate Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Available From: <%= pet.shelter.name %></p>

<% end %>
