<h1>All Available Pets</h1>

<% @pets.each do |pet| %>
  <img src="<%=pet.image%>"></img>
  <p>Pet Name: <a href="/pets/<%= pet.id %>"><%= pet.name %></a> --
  <a href="/pets/<%= pet.id %>/edit">Edit Pet</a> or
  <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
  <p>Approximate Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Available From: <a href="/shelters/<%= pet.shelter.id %>"><%= pet.shelter.name %></a></p>

<% end %>
