<header>
  <a href="/shelters/">Shelter Index</a>
  <a href="/pets/">Pet Index</a>
</header>

<h1><a href="/pets/<%= @pet.id %>"><%= @pet.name %></a></h1>

<div class="details">
<img src="<%=@pet.image%>"></img></br>
<%= link_to @pet.name, "/pets/#{@pet.id}" %></br>
<%= "Description: #{@pet.description}" %></br>
<%= "Approximate Age: #{@pet.approximate_age}" %></br>
<%= "Sex: #{@pet.sex}" %></br>
<%= "Adoption Status: #{@pet.adoption_status}" %></br>

<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
</div>
